.footer {
  background-color: $main-color;
  color: $footer-text-color;

  h3 {
    color: $link-color;
  }

  @media (min-width: $screen-sm-min) {
    .divider {
      border-left: 1px solid $footer-text-color;
    }
  }
}

.copyrights {

  p {
    font-size: 14px;
    margin: 0 0;
    padding-top: 21px;
  }

  p:last-child {
    padding: 18px 0 23px;
  }
}
