// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "crip-theme/variables";

$font-size-base: 18px;

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Theme
@import "crip-theme/styles";

// Custom styles
@import "components/particles";

body {
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  background-position: 0 600px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
