// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "crip-theme/variables";

$font-size-base: 18px;

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Theme
@import "crip-theme/styles";

// Custom styles
@import "components/particles";

body {
  background: url(../img/bg.png) repeat-x 0 700px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  background-color: transparent;
}
