description = "Particles section"
==
<section class="col-md-12" id="particles-js">
    <article>
        <div class="col-md-12">
            <div class="container">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2>
                        CRIP is a lean and compassable environment for building front-end
                        and back-end applications.
                    </h2>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <h1>CRIP</h1>

        <h3>Best practices in action.</h3>
    </article>
    <img src="/storage/app/media/crip/crip_logo_l.png" class="center-logo" alt="Logo"/>
</section>