description = "A basic layout"
==
<!DOCTYPE html>
<html>
<head>
    <title>CRIP - lean and compassable environment for building front-end and back-end applications.</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ ['assets/crip/style.css']|theme }}" type="text/css"/>
</head>
<body>


{% partial 'crip/nav.htm' %}

{% partial 'crip/particles.htm' %}

{% page %}

{% partial 'footer.htm' %}

{% partial 'copyrights.htm' %}

<script type="text/javascript" src="{{ 
   ['assets/crip/jquery.min.js', 
    'assets/crip/bootstrap.min.js', 
    'assets/crip/particles.min.js', 
    'assets/crip/app.min.js']|theme }}"></script>

{% framework %}

</body>
</html>