==
<footer class="col-md-12">
    <section class="container">

        <article class="col-xs-12 col-md-6 col-md-push-6">
            <h3>ABOUT US</h3>

            <p>We’re continuously creating some of the most innovative, powerful and disruptive technology components.
                Our vision guides our work every day: to provide the world with the best web software development
                tools.</p>
        </article>
        <div class="devider"></div>
        <article class="col-xs-12 col-md-6 col-md-pull-6">
            <form data-request="onSubscribe"
                  data-request-update="subscriberesult: '#result'">
                <h3 class="footer-heading">SUBSCRIBE FOR LATEST NEWS</h3>
                <input type="text" name="email" placeholder="ENTER AN E-MAIL ADDRESS">
                <span>
                    <input type="submit" class="btn btn-primary btn-lg" value="SUBSCRIBE">
                </span>
            </form>
        </article>

    </section>
</footer>

<div id="result">
    {% partial "subscriberesult" %}
</div>