#particles-js {
  position: relative;
  height: 626px;
  background-size: cover;
  background-color: $second-color;
  margin-bottom: 200px;

  h1, h2, h3 {
    color: $body-bg;
  }

  h2 {
    font-size: 32px;
    margin-top: 136px;
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 55px;
  }

  h3 {
    font-size: 27px;
    font-weight: 300;
    margin-top: 50px;
  }

  .center-logo {
    position: absolute;
    top: 450px;
    width: 336px;
    height: 375px;
    left: 50%;
    margin-left: -168px;
    z-index: 100;
  }

  .particles-js-canvas-el {
    position: absolute;
    top: 0;
  }

  .z-100 {
    z-index: 100;
    position: relative;
  }
}
